#page {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

#shop {
  background-color: #2d51c9;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#photo2 {
  width: 350px;
}

#photo {
  height: 100px;
}

iframe[seamless]{
  display: block;
}

#page1 {
  background-color: slategray;
  background-image: url(../images/165833364_842527826346282_2948541860422785938_n.png);
  background-position: 625px 285px;
  background-repeat: no-repeat;
}

#page2 {
  background-color: slategray;
  background-image: url(../images/166401798_444806753520061_3303942282290895727_n.png);
  background-position: 625px 60px;
  background-repeat: no-repeat;
  background-size: 1000px 900px;
}

#page3 {
  background-color: slategray;
  background-image: url(../images/165890232_260455909119908_5930520975183688812_n.png);
  background-position: 500px 200px;
  background-repeat: no-repeat;
  background-size: 1100px;
}

#page4 {
  background-color: slategray;
  background-image: url(../images/165833364_842527826346282_2948541860422785938_n.png);
  background-position: 250px 500px;
  background-repeat: no-repeat;
}

p {
  font-size: large;
  color: snow;
}

#locatie {
  color: black;
}