body{
    margin: 0;
    background: #E6E6E6 url('../fotos/pagebackground.png') repeat-y center;
    font-family: "Arial", "Helvetica", sans-serif
}

#container {
    margin: 0 auto;
    width: 957px;
}

#top{
    height:200px;
    background-image: url("../fotos/bgsky3.jpg");
    position: relative;
    text-align: center;
    color: darkblue;
}

#top img{
    position: absolute;
    top:30px;
    right: 40px;
}

#top h1 {
    margin:0px;
    font-size:300%;
    font-style:italic;
    font-weight: bold;
}

#top p {
    font-size:240%;
    margin-top:50px;
    font-weight: bold;
    font-style:italic;
}

#news{
    float:right;
    width: 20%;
    background-color: lightgray;
    border: 1px solid #999999
}

#news h1 {
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;
}

#news p {
    color: grey;
    font-size: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

#main{
    float:left;
    width:75%;
}

.introduction{
    display:flex;
}
.introduction div{
    margin-top:30px;
    padding:20px
}

.introduction > p{
    overflow: hidden;
    margin: 20px 0px 20px 0;
    text-align: justify;
}

.introduction span {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

.gallery {
    background-color: #999999;
    overflow: hidden;
    padding: 10px 0 10px 10px;
}

.fotokader {
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: white;
    border: 2px dashed #999999;
    float: left;
    margin: 10px 10px;
}

#bottom {
    clear: both;
    background-color: #666666;
    color: white;
    line-height: 2em;
}

#bottom a {
    color: white;
}

#block {
    display: inline-block;
    margin-left: 120px;
    margin-bottom: 0;
}

#copyright {
    text-align: center;
    color: black;
    background-color: white;
}


