header{
    background-color : #2B2D42;
    padding : 30px;
    color : #8D99AE;
    margin-bottom : 10px;
}

header h1, header h2{
    color : #EDF2F4;
}

.education{
    background-color : #8D99AE;
    padding : 30px;

}

footer{
    background-color : #2B2D42;
    color : #8D99AE;
    padding : 30px;
    margin-top : 10px;
}

h1{
    font-size : 80px;
}

h2{
    font-size : 40px;
}

a{
    color : #EF233C;
}